@tailwind base;
@tailwind components;
@tailwind utilities;

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
    appearance: textfield; /* Other modern browsers */
  }
  
  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }


